{% extends 'main/base.html' %}
{% block main %}
<h4>Movies</h4>
<table class="table">
  <thead>
    <tr class="text-danger">
    <td>Name</td>
    <td>Description</td>
    <td>Rate</td>
        <td>Likes</td>
       <td> Production date</td>
        <td> Category</td>
        <td> Cast</td>
        <td> Actions</td>
    </tr>
  </thead>
  <tbody>
  {% for movie in movies %}
    <tr>
        <td>{{movie.name }}</td>
        <td>{{movie.description | truncatewords:4 }}</td>
        <td>{{movie.rate }}</td>
        <td>{{movie.likes }}</td>
        <td>{{movie.production_date }}</td>
         <td>
            <ul>{% for category in movie.categories.all %}
               <li>{{category.type}}</li>
            {% endfor %}
            </ul>
        </td>
        <td>
            <ul>{% for actor in movie.actors.all %}
               <li>{{actor.name}}</li>
            {% endfor %}
            </ul>
        </td>
         <td>
             <a class="btn btn-info" href="{% url 'get'  movie.id %}">View</a>
             <a class="btn btn-secondary" href="{% url 'put'  movie.id %}">Update</a>
             <a class="btn btn-danger" href="{% url 'delete'  movie.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
  <tr>
      <td> Sorry, No movies left. </td>
  </tr>
  {% endfor %}
      </tbody>
</table>
<a class="btn btn-secondary" href="{% url 'post' %}">Add Movie</a>
{% endblock %}