{% extends 'todo/base.html' %}
{% load custom_tags %}
{% block main %}
<h4>Your Tasks</h4>
<table class="table">
  <thead>
    <tr>
       <td>id</td>
    <td>name</td>
    <td>priority</td>
    <td>description</td>
    </tr>
  </thead>
  <tbody>
  {% for task in my_task_list %}
    <tr>
        <td>{{task.id}}</td>
    <td>{{task.name }}</td>
    <td>{{task.priority}}</td>
    <td>{{task.description | truncatewords:3 }}</td>
        <td>
            <a class="btn btn-info" href="{% url 'detail'  task.id %}">View</a>
            <a class="btn btn-secondary" href="{% url 'update' task.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'delete'  task.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
  <tr>
      <td> Sorry, No tasks left. </td>
  </tr>
  {% endfor %}
      </tbody>
</table>
{% endblock %}